CREATE TABLE IF NOT EXISTS public.staff (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
    name VARCHAR(255) NOT NULL,
    role VARCHAR(50) NOT NULL,
    admin_id UUID REFERENCES auth.users(id) ON DELETE SET NULL,
    restaurant_id UUID,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    UNIQUE(user_id)
);

-- Habilitar RLS en la tabla staff
ALTER TABLE public.staff ENABLE ROW LEVEL SECURITY;

-- Crear políticas RLS para staff
DROP POLICY IF EXISTS "Usuarios pueden ver sus propios datos de staff" ON staff;
DROP POLICY IF EXISTS "Administradores pueden ver datos de staff de sus usuarios" ON staff;
DROP POLICY IF EXISTS "Usuarios pueden actualizar sus propios datos de staff" ON staff;
DROP POLICY IF EXISTS "Administradores pueden actualizar datos de staff de sus usuarios" ON staff;
DROP POLICY IF EXISTS "Administradores pueden crear datos de staff" ON staff;
DROP POLICY IF EXISTS "Administradores pueden eliminar datos de staff de sus usuarios" ON staff;

-- Políticas para lectura
CREATE POLICY "Usuarios pueden ver sus propios datos de staff" 
ON staff FOR SELECT 
USING (auth.uid() = user_id);

CREATE POLICY "Administradores pueden ver datos de staff de sus usuarios" 
ON staff FOR SELECT 
USING (auth.uid() = admin_id);

-- Políticas para actualización
CREATE POLICY "Usuarios pueden actualizar sus propios datos de staff" 
ON staff FOR UPDATE 
USING (auth.uid() = user_id);

CREATE POLICY "Administradores pueden actualizar datos de staff de sus usuarios" 
ON staff FOR UPDATE 
USING (auth.uid() = admin_id);

-- Políticas para creación
CREATE POLICY "Administradores pueden crear datos de staff" 
ON staff FOR INSERT 
WITH CHECK (
  auth.uid() = admin_id OR 
  (SELECT role FROM user_profiles WHERE user_id = auth.uid()) = 'admin'
);

-- Políticas para eliminación
CREATE POLICY "Administradores pueden eliminar datos de staff de sus usuarios" 
ON staff FOR DELETE 
USING (auth.uid() = admin_id);
